{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}Frente Córdoba Ciudadana | Panel de Administración {% endblock %}

{% block branding %}
<h1 id="site-name"><img src="{% static 'img/sol.png' %}" /><a href="{% url 'admin:index' %}">Frente Córdoba Ciudadana</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block userlinks %}
    <a href="{% url 'mapa' %}">Ver mapa</a> /

    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}