django==1.11.3
django-model-utils==3.0.0
django-annoying==0.10.3
django-attachments==1.1.1
git+https://github.com/mgaitan/django-material#egg=django-material
django-extensions==1.8.1
django-taggit==0.22.1
django-geojson==2.10.0
django-leaflet==0.22.0
jsonfield==2.0.2
nameparser==0.5.3
phonenumbers==8.6.0
pyexcel-xlsx==0.4.1
fabric3