{% extends "adjuntos/asignar-mesa.html" %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a href="{{ object.get_absolute_url }}">{{ object }}</a>
<a class="active">Acta</a>
{% endblock %}


{% block page_title %}Cargar Acta {% endblock %}


{% block card-content %}
    <div class="card-title"> Mesa {{ object.numero }}</div>

    {{ formset.management_form }}
    {% for form in formset %}
        {% form %}{% endform %}
    {% endfor %}
{% endblock card-content %}

{% block card-action %}


        <div class="row">

            <div class="col s12">
                <div class="right-align">
                    <button class="btn waves-effect waves-light btn white-text" type="submit" tabindex="{{ button_tabindex }}">
                      Guardar
                   </button>
                </div>
            </div>

        </div>

    </div>
{% endblock card-action %}

{% block right-panel %}
    <div class="card">


        <div class="card-content">
           <img class="responsive-img" src="{{ object.foto_o_attachment.url }}">
        </div>

    </div>
{% endblock right-panel %}