{% extends "fiscales/donde-fiscalizo.html" %}

{% block breadcrumbs_items %}
    <a href="{{ object.lugar_votacion.get_absolute_url }}">{{ mesa.lugar_votacion }}</a>
    <a class="active">Mesa Nº {{ object.numero }}</a>
{% endblock %}

{% block page_title %}Mesa Nº {{ object.numero }} {% endblock %}

{% block left-panel %}
<div class="card">
    {% block card-content %}
    <div class="card-content">
        <div class="card-title">{{ object }} {% if object.es_testigo %}(mesa testigo){% endif %} </div>
        <table class="table bordered">
            <tr>
                <th>Escuela</th>
                <td>{{ object.lugar_votacion }}</td>
            </tr>
            {% if request.user.fiscal and request.user.fiscal.es_general %}
            <tr>
                <th>
                   Fiscal asignado
                </th>
                <td>
                {% if  object.asignacion_actual %}
                    <a href="{% url 'mesa-asignar-fiscal' object.eleccion.id object.numero %}"  class="waves-effect waves-light btn white-text">
                        Cargar datos
                    </a>
                    <a title="Eliminar la asignación"
                       class="right-align btn-floating btn waves-effect waves-light red modal-trigger"
                       href="{% url 'mesa-eliminar-asignacion' object.eleccion.id object.numero %}"
                       onclick="return confirm('¿Estás seguro?', 'lala')"><i class="material-icons tiny">delete</i>
                    </a>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Eliminar la asignación a la mesa {{ object.numero }} </h4>
                            <p>Esta acción dejará la mesa sin fiscal asignado.
                            Si cargaste datos de un fiscal no se perderán, podés asignarlo a otra mesa ingresando el mismo DNI</p>
                        </div>
                        <div class="modal-footer center-align">
                            <a href="{% url 'mesa-eliminar-asignacion' object.eleccion.id object.numero %}"
                               class="modal-action modal-close waves-effect waves-effect btn-flat red white-text">
                                De acuerdo
                            </a>
                        </div>
                    </div>
                {% else %}
                    No se registra
                    <a href="{% url 'mesa-tengo-fiscal' object.eleccion.id object.numero %}"
                       class="waves-effect waves-light btn white-text">
                        Tengo fiscal
                    </a>
                {% endif %}
                </td>
            </tr>
            {% if  object.asignacion_actual %}
            <tr>
              <th>
                Se encuentra
              </th>
              <td>
                {% if object.asignacion_actual.esta_presente %}Presente{% else %}Ausente{% endif %}
                <a class="btn waves-effect waves-light white-text"
                   href="{% url 'asignacion-estado' 'de_mesa' object.asignacion_actual.id %}?mesa=1">
                    {% if object.asignacion_actual.esta_presente %}Se retiró{% else %}Está presente{% endif %}
                </a>
              </td>
            </tr>
            {% endif %}
            {% endif %}
            {% if object.asignacion_actual and  object.asignacion_actual.comida != 'no asignada' %}
            <tr>
                <th>
                    Comida
                </th>
                <td>
                {% if object.asignacion_actual.comida == 'asignada' %}
                    Asignada
                    <a class="btn waves-effect waves-light white-text" href="{% url 'asignacion-estado' 'de_mesa' object.asignacion_actual.id %}?mesa=1&comida=1">
                        La comida entregada
                    </a>
                {% else %}
                    Entregada
                {% endif %}
                </td>
            </tr>
            {% endif %}
          <tr>
            <th>
              Foto del Acta
            </th>
            <td>
                {% if object.foto_del_acta %}
                    Subida
                    <a class="waves-effect waves-light btn white-text" href="{{ object.foto_del_acta.thumbnail.960x.url }}">Ver foto actual</a>
                    <a href="{% url 'mesa-acta' 3 object.numero %}"  class="waves-effect waves-light btn white-text">Cambiar</a>
                {% else %}
                    <a href="{% url 'mesa-acta' 3 object.numero %}"  class="waves-effect waves-light btn white-text">Subir</a>
                    <p>
                        O enviar foto a <code  class="language-markup"><a href="mailto:escrutinio@cordobaciudadana.org">escrutinio@cordobaciudadana.org</a></code>
                        o por whatsapp/telegram a los números <a href="tel:+54 9 351 3419777">351 2326513</a>
                        o <a href="tel:+54 9 351 2326513">351 2326513</a>.
                    </p>
                {% endif %}
            </td>
          </tr>
        </table>
    </div>
    {% endblock card-content %}
</div>
{% endblock left-panel %}
