{% extends "fiscales/donde-fiscalizo.html" %}

{% block page_title %}Mesa Nº {{ object.numero }} {% endblock %}

{% block left-panel %}
    <div class="card">
        {% block card-content %}
        <div class="card-content">

            <div class="card-title">{{ object }} {% if object.es_testigo %}(mesa testigo){% endif %} </div>


            <table class="table bordered">
              <tr>
                  <th>Estado de Mesa</th>
                  <td>{{ object.get_estado_display }}

        {% if object.estado == 'ESCRUTADA' %}
            <a href="{% url 'mesa-cargar-resultados' object.numero %}"  class="waves-effect waves-light btn white-text">Cargar resultados</a>


        {% else %}
              <a href="{% url 'mesa-cambiar-estado' object.numero object.proximo_estado %}"  class="waves-effect waves-light btn white-text">
                    Reportar como {{ object.proximo_estado }}
                  </a>
        {%  endif %}

                  </td>
              </tr>

              <tr>
                  <th>Escuela</th>
                  <td>{{ object.lugar_votacion }}</td>
              </tr>


              {% if request.user.fiscal and request.user.fiscal.es_general %}
              <tr>
                <th>
                   Fiscal asignado
                </th>
                <td>
                {% if  object.asignacion_actual %}

                  {% if object.asignacion_actual.fiscal %}
                    {{ object.asignacion_actual.fiscal }}
                    <a href="{% url 'mesa-editar-fiscal' object.numero %}"  class="waves-effect waves-light btn white-text">
                    Editar datos

                  {% else %}
                    Registrado (sin datos)

                    <a href="{% url 'mesa-cargar-fiscal' object.numero %}"  class="waves-effect waves-light btn white-text">
                    Cargar datos
                  </a>

                  {% endif %}
                {% else %}
                  No se registra
                    <a href="{% url 'mesa-tengo-fiscal' object.numero %}"  class="waves-effect waves-light btn white-text">
                    Tengo fiscal
                  </a>

                {% endif %}

                </td>
              </tr>



              {% if  object.asignacion_actual %}
              <tr>
                  <th>
                    Se encuentra
                  </th>

                  <td>

                    {% if object.asignacion_actual.esta_presente %}Presente{% else %}Ausente{% endif %}


                    <a class="btn waves-effect waves-light white-text" href="{% url 'asignacion-estado' 'de_mesa' object.asignacion_actual.id %}?mesa=1">
                      {% if object.asignacion_actual.esta_presente %}Se retiró{% else %}Está presente{% endif %}
                      </a>

                  </td>
              </tr>

               {% endif %}
              {% endif %}


              {% if object.asignacion_actual and  object.asignacion_actual.comida != 'no asignada' %}
              <tr>
                  <th>
                    Comida
                  </th>

                  <td>




                    {% if object.asignacion_actual.comida == 'asignada' %}
                       Asignada

                    <a class="btn waves-effect waves-light white-text" href="{% url 'asignacion-estado' 'de_mesa' object.asignacion_actual.id %}?mesa=1&comida=1">
                      La comida entregada
                      </a>
                    {% else %}
                      Entregada

                      {% endif %}
                  </td>
              </tr>

              {% endif %}


              {% if object.estado == 'ESCRUTADA' %}


              <tr>
                <th>
                  Foto del Acta
                </th>
                <td>
                    {% if object.foto_del_acta %}
                      Subida

                        <a href="{% url 'mesa-acta' object.numero %}"  class="waves-effect waves-light btn white-text">Cambiar</a>

                      {% else %}
                        <a href="{% url 'mesa-acta' object.numero %}"  class="waves-effect waves-light btn white-text">Subir</a>

                    {% endif %}

                </td>

              </tr>


              {% endif %}


            </table>

        </div>




        {% endblock card-content %}


    </div>


{% endblock left-panel %}