{% extends "fiscales/base.html" %}

{% block page_title %}Mis Contactos{% endblock %}

{% block left-panel %}

   {% for fiscal in object.fiscales_colegas %}

    <div class="card">
        <div class="card-content">
              <div class="card-title">
              {% if fiscal.es_general %}
                  Fiscal general
                {% else %}
                  Fiscal de mesa Nº {{ fiscal.mesas_desde_hasta }}
              {% endif %}
              </div>

              {% include "fiscales/tabla_contacto.html" %}


        </div>
      </div>
    {% endfor %}


  {% if object.organizacion %}

  {% for fiscal in object.organizacion.referentes.all %}

    <div {% if forloop.first %}id="referentes"{% endif %} class="card">
        <div class="card-content">

              <div class="card-title">
                  Referente de {{ object.organizacion }}
              </div>

          {% include "fiscales/tabla_contacto.html" %}

        </div>
      </div>
 {% endfor %}
 {% endif %}

{% endblock left-panel %}
