{% load leaflet_tags %}
<html>
  <head>
<script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script type="text/javascript">
      var dataurl = '{% url "geojson" %}';

      // function onSpotClick(ev) {
          
      //     var popup = ev.target.getPopup();
      //     // alert(popup);
      //     // var props = feature.properties;
      //     // $.get(`/elecciones/escuelas/${props.id}`, function(data){
      //       // layer.bindPopup(data);

      //       popup.setContent('hola');
      //       // popup.setContent( data );
      //       popup.update();
      //     // });
      // };

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {

                function onSpotClick(ev) {
                    var popup = ev.target.getPopup();
                    // alert(popup);
                    // var props = feature.properties;
                    // $.get(`/elecciones/escuelas/${props.id}`, function(data){
                      // layer.bindPopup(data);
                    var props = feature.properties;
                
                $.get(`/elecciones/escuelas/${props.id}`, function(data){

                      // popup.setContent('hola');
                      popup.setContent( data );
                      popup.update();
                    });
                };

            //     // alert(data);
            //     alert(feature.properties);
            //     $.get(`/elecciones/escuelas/${props.id}`, function(data){
                  layer.bindPopup();
                  layer.on('click', onSpotClick);
            //     });
              // },
              // pointToLayer: function (feature, latlng) {
              //     return L.circleMarker(latlng, data);
              }
            }).addTo(map);
          });
      });


            // L.geoJson(data, {
            //   onEachFeature: function onEachFeature(feature, layer) {
            //     // alert(data);
            //     alert(feature.properties);
            //     var props = feature.properties;
            //     $.get(`/elecciones/escuelas/${props.id}`, function(data){
            //       layer.bindPopup(data);
            //     });
            //   }
            // }).addTo(map);
      
    </script>
  </head>
  <body>
    {% leaflet_map "main" %}
  </body>
</html>