{% extends "fiscales/base.html" %}
{% load staticfiles %}

{% block title %}Resultados Proyectados{% endblock %}

{% block page_title %}<h5>Resultados Proyectados</h5><h7>{{para}}</h7>{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Grupo / Mesa </th>
        <th>Peso</th>
        <th>Electores</th>
        <th>Total de votos</th>
        <th>Votos positivos</th>
        <th>Cambiemos (v)</th>
        <th>UPC (v)</th>
        <th>FCC (v)</th>
        <th>Otros (v)</th>
        <th>Cambiemos (%)</th>
        <th>UPC (%)</th>
        <th>FCC (%)</th>
        <th>Otros (%)</th>
    </tr>
{% for grupo, res_grupo in filas_tabla.items %}
    <tr><th>{{grupo}}</th><td></td></tr>
    {% for resumen_mesa in res_grupo %}
        <tr>
            <th>{{ resumen_mesa.mesa }}</th>
            <td></td>
            <td>{{ resumen_mesa.electores }}</td>
            <td>{{ resumen_mesa.Total }}</td>
            <td>{{ resumen_mesa.Positivos }}</td>
            <td>{{ resumen_mesa.Cambiemos }}</td>
            <td>{{ resumen_mesa.UPC }}</td>
            <td>{{ resumen_mesa.FCC }}</td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    {% endfor %}
{% endfor %}
</table>
{% endblock %}
