{% extends "fiscales/base.html" %}

{% block title %}Resultados según Fiscales{% endblock %}

{% block page_title %}<h5>Resultados según Fiscales</h5><h7>{{para}}</h7>{% endblock %}

{% block left-panel %}
    <link href="/static/elecciones/lib/nv.d3.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="/static/elecciones/lib/nv.d3.min.js"></script>
    <script src="/static/elecciones/lib/stream_layers.js"></script>

    <ul class="tabs">
        {% for eleccion in resultados.keys %}
        <li class="tab col s3">
            <a href="#{{eleccion.slug}}" {% if forloop.first %}class="active"{% endif %}>{{ eleccion.nombre }}</a>
        </li>
        {% endfor %}
    </ul>

    {% for eleccion, resultados in resultados.items %}
        <div class="card" id="{{eleccion.slug}}">
            <div class="card-content" id="frame{{eleccion.id}}">
            </div>
            <div>
                <svg id="svg_chart{{eleccion.id}}" width="100%" height="100%"></svg>
            </div>
            <script>
                var chart_data{{eleccion.id}}= [{{ resultados.result_piechart | safe }}];
                var width = 360;
                var height = 180;

                $.get("/elecciones/resultados/{{eleccion.id}}/?{{request.GET.urlencode}}", function(data){
                    $("#frame{{eleccion.id}}").append(data);
                    console.log(data);
                    nv.addGraph(function() {
                        var chart = nv.models.pie()
                                    .x(function(d) { return d.key; })
                                    .y(function(d) { return d.y; })
                                    .width(width)
                                    .height(height);

                        d3.select("#svg_chart{{eleccion.id}}")
                                    .datum(chart_data{{eleccion.id}})
                                    .transition().duration(1200)
                                    .attr("width", width)
                                    .attr("height", height)
                                    .attr('viewBox','0 0 '+(Math.min(width,height)+10)+' '+(Math.min(width,height)+10))
                                    .attr('preserveAspectRatio','xMinYMin')
                                    .call(chart);
                        return chart;
                    });
                });
            </script>
            <!-- <script src="/static/elecciones/pie_chart.js"></script> -->
        </div>
    {% endfor %}
{% endblock %}

{% block messages %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('ul.tabs').tabs();
        });
    </script>
{% endblock messages %}
