<table class="borderless" style="font-size: 0.7em">
    <tr>
        <th title="Electores"><i class="small material-icons">person_outline</i>Electores</th>
    </tr>
    <tr>
        <td title="Electores">{{ resultados.electores}} </td>
    </tr>
    <tr>
        <th title="Escrutados"><i class="small material-icons">person</i>Escrutados</th>
    </tr>
    <tr>
        <td title="Escrutados">{{ resultados.escrutados }} </td>
    </tr>
    <tr>
        <th title="Positivos"><i class="small material-icons">person_add</i>Positivos</th>
    </tr>
    <tr>

        <td title="Positivos">{{ resultados.positivos}}</td>
    </tr>
    <tr>
        <th title="% escrutado"><i class="small material-icons">timeline</i>% escrutado</th>
    </tr>
    <tr>
        <td title="% escrutado">{{ resultados.porcentaje_escrutado}} %</td>
    </tr>
</table>